<h1>Check what people are tweeting about</h1>

<%= @my_tweets[0][:user][:description]%>
<form action="/" method="post">
<form input="text" title="username" autofocus>
</form>
<button>Enter a Username</button>
</form>
  <ul>
  <% @my_tweets.each do |tweet| %>
  <li> <%= tweet[:text] %> </li>
    <%= tweet.media.first[:media_url] unless tweet[:media].empty? %>
    <a href="www.twitter.com/<%=tweet[:user][:screen_name]%>/status/<%=tweet[:id]%>"</a>
     <%end%>
  </ul>




